*{
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
}
body{
  background: #002339;
  color: #fff;
}
.container{
  margin: 150px 50px;
  width: 90%;  
  max-width: 700px
}
.container h1{
  font-size: 50px;
}
.container h1 span{
  color: green;
  text-decoration: underline;
}
.display{
  width: 70%;
  height: 45px;
  max-width: 350px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  margin-top: 20px;
  border-radius: 5px;
}
.display i{
  color: green;
}
.display button{
  background: #fff;
  border: none;
  cursor: pointer;
}
.display input{
  border: none;
  outline: 0;
  font-size: 24px;
}
.generate button{
  margin-top: 20px;
  font-size: 20px;
  font-weight: 700;
  width: 200px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid grey;
  color: rgb(1, 107, 1);
  cursor: pointer;
}