body{
  background: linear-gradient(60deg, rgb(80, 205, 255), rgb(158, 72, 158));
  height: 100vh;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.container{
  background-color: rgb(235, 247, 248);
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.container h1{
  font-size: 50px;
  text-align: center;
}
.info,
.input-box{
  width: 50vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.input-box i{
  position: absolute;
  right: 32%;
  transform: translateY(180%);
}
input[type="text"]{
  display: block;
  margin: 20px 0 20px 0;
  width: 80%;
  height: 30px;
  border: 1px solid grey;
  border-radius: 30px;
}
.input-box input{
  padding-left: 20px;
}
.features{
  width: 40vw;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  margin-top: 15px;
}
.features a,
.new a{
  margin-top: 3px;
  text-decoration: none;
}
.features a:hover,
.new a:hover{
  text-decoration: underline;
}
.login-button{
  margin-top: 40px;
  margin-bottom: 20px;
  width: 20vw;
  height: 50px;
  font-size: 25px;
  border-radius: 20px;
  border: 1.5px solid grey;
}
